services:
  backend:
    build: ./server
    container_name: backend
    ports:
      - "3001:3001"
    env_file:
      - ./server/prisma/.env

  frontend:
    build: ./client
    container_name: frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
