.carteira-container {
  position: fixed;
  top: 20px;
  right: 20px; 
  z-index: 1000;
  
  display: flex;
  flex-direction: row; 
  align-items: center; 
  gap: 15px; 
  
  background-color: white;
  padding: 10px 25px;
  border-radius: 50px;
  border: 2px solid #e4e4e7;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
  transition: transform 0.2s;
  cursor: default;
}

.carteira-container:hover {
  transform: scale(1.05);
}

.carteira-icon {
  font-size: 2.5rem; 
  line-height: 1;
}

.carteira-saldo {
  font-size: 2rem;
  font-weight: 800;
  color: #27272a; 
  line-height: 1;
}

.dark .carteira-container {
  background-color: #27272a;
  border-color: #3f3f46;
}
.dark .carteira-saldo {
  color: white;
}