.inicio-wrapper {
  width: 90%;
  max-width: 800px;
  min-height: 500px;
  padding: 40px 50px;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(15, 23, 42, 0.15);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin: 40px auto;
  justify-content: center;
}

.inicio-title {
  font-size: 4.5rem;
  color: #0f2b68;
  margin-bottom: 0;
}

.inicio-images-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
  justify-items: center;
}

.inicio-img {
  width: 100%;
  max-width: 250px;
  height: auto;
}

.inicio-buttons-row {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  justify-content: end;
}

.btn-primary {
  width: 100%;
  padding: 20px 30px;
  font-size: 1.4rem;
  min-width: 180px;
  border-radius: 14px !important;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  background-color: #0b1f4d;
  color: white;
}

.btn-primary:hover {
  background-color: #09183d;
  background: linear-gradient(90deg, #003366 0%, #004d99 100%);
}

.btn-secondary {
  padding: 12px 25px;
  font-size: 1.1rem;
  border-radius: 8px;
  font-weight: 600;
  border: none !important;
  cursor: pointer;
  transition: 0.3s;
  background-color: transparent;
  color: #0f172a;
}

.btn-secondary:hover {
  background: rgb(146, 145, 145);
  text-decoration: underline;
  border-radius: 14px;
}

.ft-back {
  margin-top: 1.5rem;
}
